body {background: pink;
     }
h1 { color:  darkblue; }

.card-container {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
